# Our internal files folder
INTERNAL/
# Thumbnails
._*
# OSX
.DS_Store
.AppleDouble
.LSOverride
# Windows 
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
.Spotlight-V100
.Trashes
# Eagle backup files
*.s#?
*.b#?
*.l#?
*.lck
# KiCAD useless
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.net
*.dsn
*.ses
*-backups/
@eaDir/

